---
permalink: /ncaaf/
---

<!doctype html>
<html>
	<head>
		<meta http-equiv="refresh" content="0; url={{ sportNav.ncaaf }}" />
	</head>
	<body>
		<p>Redirecting to <a href="{{ sportNav.ncaaf }}">{{ sportNav.ncaaf }}</a>…</p>
	</body>
</html>
