---
permalink: /cbb/
---

<!doctype html>
<html>
	<head>
		<meta http-equiv="refresh" content="0; url={{ sportNav.cbb }}" />
	</head>
	<body>
		<script>
			window.location.replace('{{ sportNav.cbb }}');
		</script>
		<p>Redirecting to <a href="{{ sportNav.cbb }}">{{ sportNav.cbb }}</a>…</p>
	</body>
</html>
