.header {
	background: var(--color-bg-primary);
	padding: 0 1rem;
	display: flex;
	border-bottom: 2px solid;
	margin: 0;
	flex: 0 1 5rem;
}

.headerTitle {
	display: flex;
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin-right: 2rem;
	align-items: center;
}

.headerTitle a:hover {
	text-decoration: none;
}

.headerLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerToggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
