.header {
	background: var(--color-bg-primary);
	padding: 0 1rem;
	display: flex;
	position: sticky;
	top: 0;
	border-bottom: 2px solid;
	margin: 0;
	height: 4rem;
	z-index: 1;
	width: 100%;
}

.headerTitle {
	display: flex;
	font-size: 2rem;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin-right: 1rem;
	align-items: center;
	flex-basis: content;
}

.headerTitle a:hover {
	text-decoration: none;
}

.headerLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerToggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerSelector {
	flex-grow: 1;
}
