.header {
	background: var(--color-bg-primary);
	width: 100%;
	padding: 0 1rem;
	display: flex;
	gap: 0 1rem;
	position: sticky;
	top: 0;
	height: 4rem;
	border-bottom: 2px solid;
	margin: 0;
	z-index: 1;
}

.headerTitle {
	display: flex;
	font-size: 2rem;
	font-weight: 800;
	letter-spacing: -0.05rem;
	align-items: center;
	flex-grow: 1;
}

.headerTitle a:hover {
	text-decoration: none;
}

.headerLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerToggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
