.inputArea {
	background: var(--color-bg-primary);
	width: 100%;
	padding: 0 1rem;
	position: sticky;
	top: 4rem;
	height: 3rem;
	line-height: 3rem;
	z-index: 2;
	display: flex;
	align-items: center;
}

.searchDiv {
	flex: 1;
	justify-content: flex-end;
}

.searchInput {
	font-size: 1rem;
	display: block;
	float: right;
}

