.inputArea {
	position: sticky;
	top: 4rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	margin: 0;
	align-items: center;
	z-index: 2;
	width: 16rem;
}

.teamSearch {
	font-size: 1rem;
	/* flex-grow: 1; */
}

.emptySpace {
	flex-grow: 1;
}
