.resultStyles table {
	overflow-x:auto;
	text-align: left;
}

.resultStyles table, .resultStyles tr {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-collapse: collapse;
}

.resultStyles th {
	background: var(--color-bg-primary) !important;
}

.resultStyles th, .resultStyles td {
	padding: 0.75rem;
	line-height: 1.2;
}

.lastColumn {
	text-align: right;
}
