.selectorStyling {
	position: sticky;
	top: 5em;
	background: var(--color-bg-primary);
	margin: 0;
	height: 3rem;
	display: flex;
	align-items: center;
}

.selectorStyling select {
	border-radius: 5rem;
	border: 0.25px solid;
	cursor: inherit;
	outline: none;
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: 550;
	line-height: inherit;
	text-align-last: center;
	text-align: center;
	margin-right: 0.4rem;
}

.divisionDropdown {
	width: 4.25rem;
}

.yearDropdown {
	width: 4.75rem;
}

.weekDropdown {
	width: 6.5rem;
}
