.container {
	display: flex;
	gap: 0 0.5rem;
	align-items: center;
	height: 2rem;
}

.logo {
	position: relative;
	width: 2rem;
	height: 2rem;
}

.name {
	display: flex;
	align-items: center;
	height: 100%;
}
