---
layout: layouts/base.njk
title: 404
permalink: 404.html
---

<h1>Not Found</h1>
<p>The page you requested could not be found.</p>

<script type="application/json" id="available-rankings">{{ availableRankings | json | safe }}</script>
<script src="/js/404.js" defer></script>
