<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>{{ site.url }}</loc>
		<lastmod>{{ lastmod }}</lastmod>
		<changefreq>weekly</changefreq>
		<priority>1</priority>
	</url>
	<url>
		<loc>{{ site.url }}/game-count</loc>
		<lastmod>{{ lastmod }}</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>{{ site.url }}/teams</loc>
		<lastmod>{{ lastmod }}</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>{{ site.url }}/about</loc>
		<lastmod>{{ lastmod }}</lastmod>
		<changefreq>yearly</changefreq>
		<priority>0.5</priority>
	</url>
	{% for path in paths %}
	<url>
		<loc>{{ site.url }}{{ path }}</loc>
		<lastmod>{{ lastmod }}</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.75</priority>
	</url>
	{% endfor %}
</urlset>
