body,
body[data-theme="light"] {
	--color-text-primary: #27201a;
	--color-text-secondary: #076963;
	--color-bg-primary: #f6f0e8;
	--color-bg-toggle: #1E90FF; 
}

body[data-theme="dark"] {
	--color-text-primary: #e3e3e3;
	--color-text-secondary: #ff6b00;
	--color-bg-primary: #15232d;
	--color-bg-toggle: #a9a9a9; 
}

body {
	background: var(--color-bg-primary);
	color: var(--color-text-primary);
	font-family: sans-serif;
}

h1 {
	color: var(--color-text-secondary);
}

html, body {
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
	Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-variant-numeric: tabular-nums;
	font-size: 16px;
	max-width: 55rem;
	min-width: 20rem;
	width: 100%;
}

html {
	display: table;
	margin: 0 auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.dataTables_filter > * {
	float: right;
}

.dataTables_filter input {
	margin: 0.5rem 0;
	margin-left: 0.25rem;
	background-color: white !important;
}

table {
	overflow-x:auto;
	text-align: left !important;
	width: 100%;
}

table, tr {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-collapse: collapse;
}

th {
	background: var(--color-bg-primary) !important;
}

th, td {
	padding: 0.75rem;
	line-height: 1.2;
}

table.dataTable thead .sorting:after {
	padding-left: 0.2rem;
	letter-spacing: -0.1rem;
	content: "\2191\2193";
	opacity: .3;
}

/* sorted ascending */
table.dataTable thead .sorting_asc:after {
	padding-left: 0.2rem;
	content: "\2191";
}

/* sorted descending */
table.dataTable thead .sorting_desc:after {
	padding-left: 0.2rem;
	content: "\2193";
}

table.fixedHeader-floating {
	z-index: 1;
}

div.dom_wrapper {
	background: var(--color-bg-primary) !important;
	width: 100%;
	position: sticky;
	top: 4rem;
	height: 3rem;
	padding-top: 0.1rem;
	z-index: 1;
}

#tableTop {
	position: sticky;
	top: 7rem;
}
