---
permalink: /cfb/
---

<!doctype html>
<html>
	<head>
		<meta http-equiv="refresh" content="0; url={{ sportNav.cfb }}" />
	</head>
	<body>
		<script>
			window.location.replace('{{ sportNav.cfb }}');
		</script>
		<p>Redirecting to <a href="{{ sportNav.cfb }}">{{ sportNav.cfb }}</a>…</p>
	</body>
</html>
